# Turn rewrite engine on
RewriteEngine on
# Cors
Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Access-Control-Allow-Origin"
Header always set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

#POST do LOGIN 
RewriteRule ^login index.php?url=auth [L,QSA]

RewriteRule ^users/([0-9]+) index.php?url=users&id=$1 [L,QSA]
RewriteRule ^users index.php?url=users [L,QSA]

RewriteRule ^players/([0-9]+) index.php?url=players&id=$1 [L,QSA]
RewriteRule ^players index.php?url=players [L,QSA]

RewriteRule ^guildas/([0-9]+) index.php?url=guildas&id=$1 [L,QSA]
RewriteRule ^guildas index.php?url=guildas [L,QSA]

RewriteRule ^emails/([0-9]+) index.php?url=emails&id=$1 [L,QSA]
RewriteRule ^emails index.php?url=emails [L,QSA]